<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    {{> header}}
    <p>Welcome {{welcomeMsgPerson}}. Enter as guests, leave as friends.</p>
    {{> footer}}
  </body>
</html>
